
 Color Theme Swatches in Hex 
.Ilustração-1-hex { color: #AED3F2; }
.Ilustração-2-hex { color: #D8E6F2; }
.Ilustração-3-hex { color: #BF7F5A; }
.Ilustração-4-hex { color: #730202; }
.Ilustração-5-hex { color: #8C2A2A; }

 Color Theme Swatches in RGBA 
.Ilustração-1-rgba { color: rgba(174, 210, 242, 1); }
.Ilustração-2-rgba { color: rgba(215, 229, 242, 1); }
.Ilustração-3-rgba { color: rgba(191, 127, 89, 1); }
.Ilustração-4-rgba { color: rgba(114, 2, 2, 1); }
.Ilustração-5-rgba { color: rgba(140, 42, 42, 1); }

 Color Theme Swatches in HSLA 
.Ilustração-1-hsla { color: hsla(208, 72, 81, 1); }
.Ilustração-2-hsla { color: hsla(208, 51, 89, 1); }
.Ilustração-3-hsla { color: hsla(22, 44, 55, 1); }
.Ilustração-4-hsla { color: hsla(0, 96, 22, 1); }
.Ilustração-5-hsla { color: hsla(0, 53, 35, 1); }

html {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sriracha', cursive; 
}

div {
    background-color: #D8E6F2;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid #730202;
    border-radius: 3%;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }

p, ul {
    color: #2e2a28;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}